<!DOCTYPE module PUBLIC
  "-//Puppy Crawl//DTD Check Configuration 1.3//EN"
  "http://www.puppycrawl.com/dtds/configuration_1_3.dtd">
<module name="Checker">
    <module name="FileTabCharacter"/>
    
    <module name="TreeWalker">
        <module name="ArrayTrailingComma"/>
        <module name="ArrayTypeStyle"/>
        <module name="AtclauseOrder"/>
        <module name="AvoidEscapedUnicodeCharacters">
            <property name="allowEscapesForControlCharacters" value="true"/>
            <property name="allowByTailComment" value="true"/>
            <property name="allowIfAllCharactersEscaped" value="true"/>
            <property name="allowNonPrintableEscapes" value="true"/>
        </module>
        <module name="AvoidNestedBlocks"/>
        <module name="CatchParameterName"/>
        <module name="ClassMemberImpliedModifier"/>
        <module name="CovariantEquals"/>
        <module name="DefaultComesLast"/>
        <module name="EmptyCatchBlock">
            <property name="commentFormat" value="ignored"/>
        </module>
        <module name="EmptyStatement"/>
        <module name="EqualsAvoidNull"/>
        <module name="EqualsHashCode"/>
        <module name="ExplicitInitialization"/>
        <module name="FallThrough"/>
        <module name="FinalClass"/>
        <module name="GenericWhitespace"/>
        <module name="MissingDeprecated"/>
        <module name="MissingOverride"/>
        <module name="NoClone"/>
        <module name="NoFinalizer"/>
        <module name="RedundantImport"/>
        <module name="SimplifyBooleanExpression"/>
        <module name="SimplifyBooleanReturn"/>
        <module name="StringLiteralEquality"/>
        <module name="UnusedImports"/>
    </module>
</module>